{% include base_path %}

<body>
    <!-- 컨테이너 추가: PDF를 감싸는 content-container -->
    <div class="content-container">
        <!-- PDF 컨테이너 -->
        <div id="example1" style="width: 50rem; height:50rem; margin: 0 auto; padding: 0 0 0 8em; position: relative; z-index: 10;"></div>
    </div>

    <!-- PDFObject 스크립트 -->
    <script src="{{ base_path }}/assets/js/pdfobject.js"></script>
    <script>
        PDFObject.embed("{{ base_path }}/files/CV_Seungpil_Lee.pdf", "#example1");
    </script>
</body>
